<h1>Sign up!</h1>

<ul>
  <% @user.errors.full_messages.each do |err_msg| %>
    <li><%= err_msg %></li>
  <% end %>
</ul>

<form action="/user" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="user_email">email</label>
  <input
    type="text"
    name="user[email]"
    id="user_email"
    value="<%= @user.email %>">
  <br>

  <label for="user_password">password</label>
  <input type="password" name="user[password]" id="user_password">
  <br>

  <input type="submit" value="Submit">
</form>
