<h1><%= @band.name %></h1>

<table>
  <tr>
    <th>Albums</th>
  </tr>
  <% @band.albums.each do |album| %>
    <tr>
      <li><%= link_to album.name, band_url(band) %></li>
    </tr>
  <% end %>
</table>
<br><br>
<%= link_to "back to bands", bands_url %>
<%= link_to "Edit Band", edit_band_url(@band) %>
