<!DOCTYPE html>
<html>
<head>
  <title>MyMusic</title>

  <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>



<%= yield %>
<br><br><br>
</body>

<footer>
  Logged in under email:
  <%= current_user.email %>
</footer>
</html>
